In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

**Parte 1 analisi statistica**

Utilizziamo la tabella integrate_titles che abbiamo prodotto durante il primo laboratorio. Vi ricordo che abbiamo effettuato integrazione di due dataset provenienti da Disney+ e Netflix, contenenti informazioni circa film e serie tv rilasciate sulle due piattaforme di streaming. 
Il dataset integrato è stato pulito e risulta quindi pronto per ulteriori analisi. 

1. Importiamo il dataset:

In [ ]:
#codice qui

visualizziamo il dataset

In [ ]:
#codice qui

In [ ]:
#codice qui per vedere numero di elementi e informazioni sulle colonne

**Parte 1. Statistiche di base e analisi OLAP**

Calcoliamo alcune statistiche di base, sulle colonne imdb_score e tmdb_score:
1. Media;
2. Deviazione standard;
3. Varianza;
4. Moda;
5. Mediana.

prima di tutto verifichiamo che non ci siano valori nulli

In [ ]:
#codice qui

proviamo a riempire questi valori nulli con il valore medio degli elementi non nulli. Iniziamo con imdb

In [ ]:
#calcolo media non nulli
#trovo indici nulli di ibmdb_score
#trovo indici non nulli di ibmdb_score
#calcolo media non nulli di ibmdb_score
#sostituzione con loc su indici nulli

stessa cosa per tmdb

In [ ]:
#codice qui 
#calcolo media non nulli
#sostituzione

calcoliamo quindi le statistiche richieste

In [ ]:
#codice qui

stampiamo i valori di num_awards per verificare che moda e mediana siano calcolate nel modo corretto. Sortiamo l'array in ordine crescente per visualizzare la mediana.

In [ ]:
#sorted = 
print(sorted.tolist())

ora facciamo la stessa cosa, ma senza riempire i valori nulli.
Le funzioni che calcolano le statistiche in pandas, hanno un'opzione dropna=True di default, quindi non considerano i valori nulli, in automatico.

In [ ]:
integrate_titles = pd.read_csv("integrate_titles2.csv")

In [ ]:
#codice qui

come dimostrazione, eliminiamo le righe che contengono un valore nullo su imdb_score e ripetiamo le statistiche

In [ ]:
integrate_titles = pd.read_csv("integrate_titles2.csv") 
integrate_titles = integrate_titles.dropna(axis=0, subset=['imdb_score'])

In [ ]:
#codice qui

A questo punto, usiamo quest'ultima versione  e predisponiamo il nostro dataset per un'analisi OLAP. Per prima cosa, quantizziamo lo score di IMBD. Possiamo usare questa quantizzazione:
1. BAD = [0,4.9];
2. SUFFICIENT = [5,5.9];
3. GOOD = [6,6.9];
4. VERY GOOD = [7,7.9];
5. EXCELLENT = [8,10].

**tip** 

Dobbiamo utilizzare la funzione between di pandas (between(min_range,max_range,'both'), la funzione loc per accedere ai valori del dataframe e creare una nuova colonna che chiamiamo 'imdb_score_quant

In [ ]:
#codice qui 

quantize_imdb_score = ['LOW','SUFFICIENT','GOOD','VERY GOOD','EXCELLENT']

visualizziamo la colonna che abbiamo aggiunto

In [ ]:
#codice qui

Facciamo la stessa cosa per gli anni di uscita (release_year). Usiamo questa quantizzazione:

1. VERY OLD = [1900,1980];
3. OLD = [1981,2000].
4. RECENT = [2001,2015];
5. VERY RECENT = [2016,2023].

In [ ]:
#CODICE QUI
quantize_release_year = ['VERY OLD','OLD','RECENT','VERY RECENT']

visualizziamo anche questa colonna

In [ ]:
#codice qui

Infine, utilizziamo TYPE che risulta già quantizzato.

In [ ]:
integrate_titles['type'].isnull().sum()

visualizziamo i possibili valori di type

**tip** usiamo la funzione unique di numpy

In [ ]:
#codice qui

come vediamo sono soltanto MOVIE and SHOW.

il programma a cui sono iscritti gli studenti è già discreto e quantizzato. Visualizziamo allora le colonne aggiunte

**Parte 2. Visualizzazione dei dati e OLAP**

Abbiamo visto che esistono diverse modalita' di visualizzazione dei dati. 

In base al tipo di dato, alcune sono appropriate, altre possono non esserlo. 

La visualizzazione dei dati dipende da cosa vogliamo **comunicare**
con i dati. 

Proviamo a visualizzare il dato in forma quantizzata per OLAP, poi faremo alcune visualizzazioni. Dobbiamo prima di tutto contare il numero di occorrenze di ciascun valore. Sarà sufficiente usare la funzione value_counts di pandas. 
Ricordiamo che abbiamo:
- 5 valori possibili per Score;
- 4 valori possibili per release_year;
- 2 valori possibili per type

In [ ]:
#codice qui 
for z in range(0,len(quantize_type)):
  #codice qui 
  for j in range(0,len(quantize_release_year)):
    for i in range(0,len(quantize_imdb_score)):
      #codice qui

Per prima cosa, facciamo uno **slicing** rispetto a type

In [ ]:
#codice qui 
print('MOVIE')

visualizziamo ora questa matrice, con una heatmap. Dobbiamo usare matplotlib e la funzione imshow.

In [ ]:
#codice qui

In [ ]:
print('SHOW')
#codice qui

stessa cosa per show

In [ ]:
#codice qui

Notiamo (tra le altre cose), con questo slicing, che la maggior parte delle serie sono molto recenti, e che molte di esse sono valutate come very good. Mentre la maggior parte dei film molto recenti sono valutati good.

adesso facciamo slicing rispetto al release_year, visualizzando soltanto i VERY OLD.

In [ ]:
print('VERY OLD')
#codice qui

possiamo notare come con questa visualizzazione, sia evidente che non il numero di show sia molto piccolo rispetto ai film, la cui valutazione è per lo più media.

proviamo a visualizzare questa informazione con un grafico a linea.

In [ ]:
#codice qui

a questo punto facciamo un dicing, visualizzando i film che hanno avuto una votazione "GOOD" e che siano "VERY RECENT".

In [ ]:
print("GOOD and VERY RECENT")
#codice qui

visualizziamo questa informazione con un bar plot

In [ ]:
#codice qui

notiamo che ci sono più film che show.

A questo punto, vogliamo trovare un modo per visualizzare il numero di contenuti usciti nei vari anni, allo scopo di capire nuovamente se ci siano dei trend. Come possiamo fare?

In [ ]:
#codice qui

In [ ]:
#codice qui

Di fatto, vorremo un istogramma (o un diagramma a barre?) Esistono altri due metodi per fare questo plot. 

Ne vediamo uno insieme.

In [ ]:
histo = np.histogram(integrate_titles['release_year'],bins=10)
plt.bar(x=np.asarray(range(10)),height=histo[0])

L'altro consiste nell'usare la funzione 'hist' della libreria matplotlib. Provate a farlo!

In [ ]:
#codice qui

Esiste un modo alternativo di visualizzare questa informazione fornendo più dettagli? 

Usate i box plot

funzione pandas boxplot (argomenti: column = 'colonna da visualizzare', by ='colonna rispetto a cui dividere')

In [ ]:
#codice qui

I box plot ci danno informazioni sulla distribuzione, non solo sulla media.

Infine, facciamo un esempio di roll-up e dripping-down.
Utilizziamo la colonna date_added, che abbiamo sistemato durante il primo laboratorio.

In [ ]:
integrate_titles.head()

come roll-up, visualizziamo con diagramma a barre, il numero di film usciti nei vari mesi, indipendentemente dagli anni

In [ ]:
#codice qui 


num_film = np.zeros((12))

#codice qui

come esempio di dripping down, selezioniamo l'anno 2020, e visualizziamo la stessa informazione di prima (numero di film usciti per mese)

In [ ]:
#codice qui